{
  "bot_token": "0:AA",
  "logs_id": -100,
  "logs_topic_id": 0,
  "db_dsn": "host=10.10.10.2 port=5432 dbname=feedbackBot user=feedbackBot password=feedbackBot",
  "welcome": {
    "enabled": true,
    "message": "Hello! Write a message and I'll send it to my owners."
  },
  "verification": {
    "bot_user_id": 1234567890,
    "verified_start_message": "Hello! Your verification is active. Write a message and I'll send it to my owners.",
    "unverified_start_message": "Hello! To contact support, you need verification from the required bot first."
  },
  "is_protected_default": false,
  "language_filter": {
        "enabled": true,
        "forbidden_languages": ["en", "ru"],
        "message": "Sorry, but I can't assist you because of your Telegram's language.",
        "error_rate_limit": 60
    },
  "disclose_error_internals": false,
  "telegram_api_url": "https://api.telegram.org"
}
